- user: name=mongo shell=/usr/sbin/nologin createhome=no home=/opt/mongodb/ system=yes
- file: path=/opt/mongodb/{{ item }} state=directory mode=0755 owner=mongo group=mongo
  with_items:
    - bin
    - conf
    - logs
- copy: src=mongos dest=/opt/mongodb/bin/ mode=0755 owner=mongo group=mongo
- template: src=mongos.conf dest=/opt/mongodb/conf/{{ name }}.conf mode=0644 owner=mongo group=mongo
- template: src=mongos.service dest=/etc/systemd/system/{{ name }}.service mode=0644 owner=mongo group=mongo
- service: name={{ name }} enabled=yes state=started
